
<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=CaveAccueil">CHEN Yiyi</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">VIN <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=vinReadAll">Liste des vins</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=vinReadId&target=vinReadOne">Sélection d'un vin par son id</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=vinCreate">Insertion d'un vin</a></li>                       
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=vinReadId&target=vinDeleted">Suppression d'un vin</a></li>
                </ul>
            </li>   
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PRODUCTEUR <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=producteurReadAll">Liste des producteurs</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=producteurReadId&target=producteurReadOne">Affichage d'un producteur par son id</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=producteurCreate">Insertion d'un producteur</a></li>   
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=producteurReadRegion">Liste sans doublons des regions</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=producteurReadId&target=producteurDeleted">Suppression d'un producteur</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">PROJET <span class="caret"></span></a>
                <ul class="dropdown-menu">            
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=projetFunc1">La liste des crus et la quantité par cru</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=projetFunc2">La quantité de vins produits par région</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=projetFunc3">Les degres moyennes des vins par région</a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=projetReadDegre&target=projetFunc4">La quantité de vin recolté avec une degré supérieure à une certaine valeur </a></li>
                    <li><a href="/~chenyiyi/lo07_tp/projet/app/router/router2.php?action=projetReadNombreCru&target=projetFunc5">La liste des noms et des prénoms des producteurs qui produisent une quantité de cru supérieure à une certaine valeur  </a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
                   aria-haspopup="true" aria-expanded="false">DOCUMENTATION <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="../../public/documentation/mesProposition.php">Proposition d'amélioration</a></li>
                    <li><a href="../../public/documentation/monProjet.php">MonProjet</a></li>
                </ul>
            </li>   
        </ul>
    </div>
</nav>

<!-- ----- fin fragmentCaveMenu -->

